<div class="card clickable flex flex-row justify-between gap-3">
  <div>
    <p class="font-bold italic">N°{{ pokemon.id }}</p>
    <p class="text-2xl font-semibold">{{ pokemon.name }}</p>
    <div class="flex flex-row">
      <ng-container *ngFor="let type of pokemon.default_variety.types">
      <img [src]="type.icon" [alt]="type.id" class="h-6">
      </ng-container>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-3">
    <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name" class="h-24">
  </div>

</div>
